<div  class="container">
  <h2>Tournament {{vm.tourn.tournamentComplete? ' complete after ' : ''}} round {{vm.tourn.currRoundNum}}</h2>
  <div ng-if="!vm.tourn.tournamentComplete">
    <h3>Matches</h3>
    <table class="table table-condensed">
        <thead>
          <tr>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Results</th>
          </tr>
        </thead>
        <tr ng-repeat="pairing in vm.tourn.currRound.pairings">
          <td ng-class="pairing.winner.name === pairing.p1.name ? 'success' :''">{{pairing.p1.name}}</td>
          <td ng-class="pairing.winner.name === pairing.p2.name ? 'success' :''">{{pairing.p2.name}}</td>
          <td>{{pairing.result.p1Win}}-{{pairing.result.p2Win}}-{{pairing.result.draw}}
              <button type="button" class="btn btn-xs btn-info" ng-click="vm.open(pairing)">Report</button>
          </td>
        </tr>
    </table>
    <button type="button" class="btn btn-sm btn-success" ng-click="vm.finalise()">Finalise round</button>
  </div>

  <div>
 
</div>

  <div>
    <h3>Rankings</h3>
    <table class="table table-condensed">
        <thead>
          <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Points</th>
            <th>OMW</th>
            <th>PGW</th>
            <th>OGW</th>
          </tr>
        </thead>
        <tr ng-repeat="player in vm.tourn.currentStanding">
          <td>{{$index+1}}</td>
          <td>{{player.name}}</td>
          <td>{{player.points}}</td>
          <td>{{player.opponentMatchesWon === 0 ? '-' : player.opponentMatchesWon}}</td>
          <td>{{player.playerGamesWon === 0 ? '-' : player.playerGamesWon}}</td>
          <td>{{player.opponentGamesWon === 0 ? '-' : player.opponentGamesWon}}</td>
        </tr>
    </table>
  </div>
  <div>
  <!-- <h3>Timer</h3>
  <timer interval="1000" countdown="100" autostart="false">{{countdown}}</timer>
  </div> -->


<div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Result</h3>
        </div>
        <div class="modal-body">
          <!-- This is kinda crappy. Fix. -->
          <div>
            P1 {{mic.pairing.p1.name}}:  
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(2,0,0)">2-0</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(2,1,0)">2-1</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(1,0,1)">1-0-1</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(1,1,1)">1-1-1</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(0,1,1)">0-1-1</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(1,2,0)">1-2</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(0,2,0)">0-2</button>
          </div>
          <div>
            P2 {{mic.pairing.p2.name}}:  
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(2,0,0)">0-2</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(2,1,0)">1-2</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(1,0,1)">0-1-1</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(1,1,1)">1-1-1</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(0,1,1)">1-0-1</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(1,2,0)">2-1</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="mic.pick(0,2,0)">2-0</button>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="mic.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="mic.cancel()">Cancel</button>
        </div>
    </script>

<!--     <div ng-show="selected">Selection from a modal: {{ selected }}</div> -->
</div>



</div>