<div class="container">
  <h3>Add players to tournament</h3>
  <form novalidate>
    <div class="form-group">
      <label>Name </label>
      <input type="text" class="form-control" ng-model="vm.player.name" />
      <input type="submit" ng-click="vm.addPlayer(vm.player)" value="Save" />
    </div>
  </form>

  <button ng-click="vm.submitPlayers()">Ready up!</button>

    <ul class="players">
        <li ng-repeat="player in vm.tourn.players">
            <span>{{player.name}}</span>
        </li>
    </ul>
</div>