<div class="container" >
  <div class="row">
    <div class"col-md-8">
      <h2>Welcome to Mtg Tournamizer 2000!</h2>
      <div>
        If you already have a running tournament, search for your tournament here: 
        <form novalidate>
          <div class="form-group">
            <label for="searchField">Name</label>
            <input id="searchField" type="text" class="form-control" ng-model="vm.preTourn.ident" />
          </div>
          <button type="submit" class="btn btn-default" ng-click="vm.resolveTournament(preTourn)">Save</button>
        <!-- <input type="submit" ng-click="vm.resolveTournament(preTourn)" value="Save" /> -->
        </form>
      </div>
     <div>
       Otherwise, create your tournament here: 
       <form novalidate>
         <div class="form-group">
            <label>Tourney name</label>
            <input type="text" class="form-control" ng-model="vm.preTourn.name" />
          </div>
          <div class="form-group">
            <label>Creator name</label>
            <input type="text" class="form-control" ng-model="vm.preTourn.creator" />
          </div>
          <button type="submit" ng-click="vm.newTournament(preTourn)">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>